[Desktop Entry]
Type=Application
Name=mobile_app
Comment=A new Flutter project.
Icon=ru.mzhn.mobile_app
Exec=/usr/bin/ru.mzhn.mobile_app
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=ru.mzhn
ApplicationName=mobile_app
